@import url("reset.css");
@import url("./../fonts/inconsolata/inconsolata.css");
@import url("./../fonts/librebarcode128/librebarcode128.css");

:root {
  --inconsolata: "Inconsolata";
  --barcode: "Libre Barcode 128";
  --gray: oklch(16.84% 0 0);
  --scrollbar-background: oklch(22.64% 0 0);
  --white-font: oklch(100% 0 0);
  --horizontal-p: 3rem;
  --vertical-p: 2rem;
  font-family: var(--inconsolata);
}
.hidden {
  visibility: collapse !important;
}

.passerelle {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color:;
}

.menu {
  width: fit-content;
  padding: 1rem;
  height: 100vh;
  min-width: 20%;
  overflow-y: auto;
}

.passerelle__content {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
